@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono', monospace;
    padding: 24px;
}

.container{
    max-width: 1050px;
}

img{
    width: 100%;
    margin-bottom: 48px;
}

header{
    margin-bottom: 48px;
}

header h2{
    text-transform: uppercase;
}

h1{
    font-weight: bold;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

p{
    font-size: 15px;
    line-height: 150%;
    margin-bottom: 48px;
    color: #4f4f4f;
}

button{
    border: none;
    color: white;
    background-color: #333;
    font-family: 'Space Mono', monospace;
    padding: 16px 32px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
button:hover{
    background-color: #212121;
}

.created{
    margin-top: 2rem;
    text-align: center;
}


@media (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 26px;
    }

    h1{
        font-size: 36px;
    }

    p{
        font-size: 20px;
    }

    button{
        font-size: 16px;
    }

    .created{
        font-size: 14px;
    }
}


@media (min-width: 1024px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 26px;

        margin: 0 auto;
    }

    h1{
        font-size: 48px;
    }

    p{
        font-size: 26px;
    }

    button{
        font-size: 16px;
    }

    .created{
        font-size: 14px;
    }
}
